
header {
<<<<<<< HEAD
    padding:5rem;
    background: url(../images/mobile/image-header.jpg) no-repeat;
    @media screen and (min-width:600px) {
        background: url(../images/desktop/image-header.jpg) no-repeat;
        padding:3rem 5rem;
        background: url(../images/mobile/image-header.jpg), no-repeat;
        background-size:cover;
    @media screen and (min-width:600px) {
=======
    padding:3rem 5rem;
    background: url(../images/mobile/image-header.jpg), no-repeat;
    background-size:cover;
    @media screen and (min-width:600px) {
>>>>>>> feature
        background: url(../images/desktop/image-header.jpg), no-repeat;
        background-size:cover;
    };
    @media screen and (min-width:800px) {
        height:100vh;
    };

    .header__title {
        color:$White;
        display:flex;
        flex-direction:column;
<<<<<<< HEAD
        margin-top: 2rem;
=======
>>>>>>> feature
        align-items: center;
        font-family: $font2;
        font-size:25px;
        margin: 2rem 0;
        @media screen and (min-width: 800px){
            font-size:3em;
        }
    }
}
}

.logo {
    margin:auto;
    width:100%;
    display:flex;
    justify-content:flex-start;

}

.logo {
    margin:auto;
    width:100%;
    display:flex;
    justify-content:flex-start;

}

nav {
    width:100%;
    display:none;
    @media screen and (min-width: 800px){
        display:block;
    }
}

.nav__list {
    display:flex;
    justify-content:space-between;
}

.nav__link {
    color:$White;
    font-family:$font1;
    font-size:20px;
    font-weight:900;
}    

.--nav__button {
    background:$White;
    color:$Darkgrayishblue;
    padding:.7rem;
    border-radius:20px;
    &:hover{
        opacity:60%;
        background:inherit;
        color:$White;
    }
}

.hamburger {
    margin:auto;
    width:100%;
    display:flex;
    justify-content:flex-end;
    @media screen and (min-width: 800px){
        display:none;
    }

}

.dropdown.open{
    display:block;
    @media screen and (min-width: 800px){
        display:none;
    }
}

.dropdown {
    width:80%;
    padding:.5rem;
    margin:0 auto;
    margin-top:3rem;
    background:$White;
    position:absolute;
    display:none;
    transition: .9s ease-in-out;
    nav{
        display:flex;
        justify-content:center;
        
    }
    .nav__list {
        padding:2rem;
        flex-direction:column;
        align-items: center;
        gap:2rem;
    }

    .nav__link {
        color:$Darkgrayishblue;
    }

    .--nav__button {
        background:$Yellow;
        color:$VerydarkBlue;
        &:hover{
            background:inherit;
        }
    }
}