@import '_variables';
@import '_header';
@import '_sections';

img,picture {
    max-width:100%;
    padding:2rem;
}

a {
    text-decoration: none;
    margin:0 auto;
}

.container {
    margin:0 auto;
    width:100%;
    border:5px solid red;

}

.row {
    display:flex;
    justify-content:center;
}


.attribution {
    font-size: 11px;
    text-align: center;
    a {
      color: hsl(228, 45%, 44%);
    }
  }